@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{
    width: 7.5in;
    background: #eee;
}
header div{
    font-family:helvetica;
    font-weight:300;
}
h1{
    font-family:Abril Fatface ;
    text-align: center;
    font-size: 4em;
}
h4{
    font-family: Helvetica;
}
h5{
    color: red;
    font-size: 1em;
    font-family: Helvetica;
    
}
nav{
    text-align: center;
    opacity: 0.5;
}
nav ul{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 1em;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 1em;
    text-align: center;
}
nav li a{
    text-decoration: none;
    color: black;
    font-family:#777;
   
}
main{
    border-bottom:1px solid #eee;
  
}
main p{
    font-family: Source Sans Pro;
}
main img{
    width: 100%;
}

div section {
    display:inline-block;
    width:40%;
    padding:2em;
}
section p{
    font-family: Source Sans Pro;
}
section img{
    width: 100%;
}
.newspaper-container{
background:white;
width: 900px;
padding: 1em;
border-radius: 10px;
box-sizing:border-box;
text-align:centre;
margin-top:2em;
margin-bottom:2em;
margin-left:180px;
box-shadow: #ddd;
}
.more-articles h4{
    font-family: Roboto Slab;
}